.kuma-input {
    padding: 5px 10px;
    height: 36px;
    line-height: 26px;
}
.kuma-textarea {
    line-height: 18px;
    padding: 9px 10px;
    overflow: auto;
    resize: vertical;
}
.kuma-table {
    width: 100%;
}