.bg-primary-color {
    background-color: @brand-primary;
}
.bg-secondary-color {
    background-color: @brand-secondary;
}
.bg-primary-dark-color {
    background-color: @brand-primary-dark;
}
.bg-primary-light-color {
    background-color: @brand-primary-light;
}
.bg-primary-lighter-color {
    background-color: @brand-primary-lighter;
}
.bg-danger-color {
    background-color: @brand-danger;
}
.bg-warning-color {
    background-color: @brand-warning;
}
.bg-success-color {
    background-color: @brand-success;
}
.bg-info-color {
    background-color: @brand-info;
}
.bg-query-color {
    background-color: @brand-query;
}
