
.bg-primary-color {
  background-color: @brand-primary;
}
.bg-primary-hover-color {
  background-color: @brand-primary-hover;
}
.bg-primary-focus-color {
  background-color: @brand-primary-focus;
}
.bg-primary-dark-4-color {
  background-color: @brand-primary-dark-4;
}
.bg-primary-dark-5-color {
  background-color: @brand-primary-dark-5;
}
.bg-primary-dark-5-color {
  background-color: @brand-primary-dark-5;
}
.bg-primary-dark-6-color {
  background-color: @brand-primary-dark-6;
}
.bg-primary-dark-7-color {
  background-color: @brand-primary-dark-7;
}
.bg-primary-alpha-2-color {
  background-color: @brand-primary-alpha-2;
}
.bg-primary-alpha-3-color {
  background-color: @brand-primary-alpha-3;
}
.bg-primary-alpha-4-color {
  background-color: @brand-primary-alpha-4;
}
.bg-primary-alpha-5-color {
  background-color: @brand-primary-alpha-5;
}
.bg-primary-alpha-6-color {
  background-color: @brand-primary-alpha-6;
}
.bg-primary-alpha-7-color {
  background-color: @brand-primary-alpha-7;
}
.bg-primary-alpha-8-color {
  background-color: @brand-primary-alpha-8;
}
.bg-primary-alpha-9-color {
  background-color: @brand-primary-alpha-9;
}
.bg-normal-alpha-1-color {
  background-color: @normal-alpha-1;
}
.bg-normal-alpha-2-color {
  background-color: @normal-alpha-2;
}
.bg-normal-alpha-3-color {
  background-color: @normal-alpha-3;
}
.bg-normal-alpha-4-color {
  background-color: @normal-alpha-4;
}
.bg-normal-alpha-5-color {
  background-color: @normal-alpha-5;
}
.bg-normal-alpha-6-color {
  background-color: @normal-alpha-6;
}
.bg-normal-alpha-7-color {
  background-color: @normal-alpha-7;
}
.bg-normal-alpha-8-color {
  background-color: @normal-alpha-8;
}
.bg-normal-alpha-9-color {
  background-color: @normal-alpha-9;
}
.bg-dark-alpha-1-color {
  background-color: @dark-alpha-1;
}
.bg-dark-alpha-2-color {
  background-color: @dark-alpha-2;
}
.bg-dark-alpha-3-color {
  background-color: @dark-alpha-3;
}
.bg-dark-alpha-4-color {
  background-color: @dark-alpha-4;
}
.bg-dark-alpha-5-color {
  background-color: @dark-alpha-5;
}
.bg-dark-alpha-6-color {
  background-color: @dark-alpha-6;
}
.bg-dark-alpha-7-color {
  background-color: @dark-alpha-7;
}
.bg-dark-alpha-8-color {
  background-color: @dark-alpha-8;
}
.bg-dark-alpha-9-color {
  background-color: @dark-alpha-9;
}
.bg-white-alpha-1-color {
  background-color: @white-alpha-1;
}
.bg-white-alpha-2-color {
  background-color: @white-alpha-2;
}
.bg-white-alpha-3-color {
  background-color: @white-alpha-3;
}
.bg-white-alpha-4-color {
  background-color: @white-alpha-4;
}
.bg-white-alpha-5-color {
  background-color: @white-alpha-5;
}
.bg-white-alpha-6-color {
  background-color: @white-alpha-6;
}
.bg-white-alpha-7-color {
  background-color: @white-alpha-7;
}
.bg-white-alpha-8-color {
  background-color: @white-alpha-8;
}
.bg-white-alpha-9-color {
  background-color: @white-alpha-9;
}
.bg-danger-color {
  background-color: @brand-danger;
}
.bg-warning-color {
  background-color: @brand-warning;
}
.bg-success-color {
  background-color: @brand-success;
}
.bg-link-color {
  background-color: @brand-link;
}
.bg-info-color {
  background-color: @brand-info;
}
.bg-query-color {
  background-color: @brand-query;
}
.bg-danger-color {
  background-color: @brand-danger;
}
.bg-danger-alpha-2-color {
  background-color: @brand-danger-alpha-2;
}
.bg-danger-alpha-7-color {
  background-color: @brand-danger-alpha-7;
}
.bg-danger-alpha-8-color {
  background-color: @brand-danger-alpha-8;
}
.bg-warning-color {
  background-color: @brand-warning;
}
.bg-warning-alpha-2-color {
  background-color: @brand-warning-alpha-2;
}
.bg-warning-alpha-7-color {
  background-color: @brand-warning-alpha-7;
}
.bg-warning-alpha-8-color {
  background-color: @brand-warning-alpha-8;
}
.bg-success-color {
  background-color: @brand-success;
}
.bg-success-alpha-2-color {
  background-color: @brand-success-alpha-2;
}
.bg-success-alpha-7-color {
  background-color: @brand-success-alpha-7;
}
.bg-success-alpha-8-color {
  background-color: @brand-success-alpha-8;
}
.bg-link-color {
  background-color: @brand-link;
}
.bg-link-alpha-2-color {
  background-color: @brand-link-alpha-2;
}
.bg-link-alpha-7-color {
  background-color: @brand-link-alpha-7;
}
.bg-link-alpha-8-color {
  background-color: @brand-link-alpha-8;
}
.bg-danger-hover-color {
  background-color: @brand-danger-hover;
}
.bg-danger-focus-color {
  background-color: @brand-danger-focus;
}