.border-primary-color {
    border-color: @brand-primary;
}
.border-secondary-color {
    border-color: @brand-secondary;
}
.border-primary-dark-color {
    border-color: @brand-primary-dark;
}
.border-primary-light-color {
    border-color: @brand-primary-light;
}
.border-primary-lighter-color {
    border-color: @brand-primary-lighter;
}
.border-danger-color {
    border-color: @brand-danger;
}
.border-warning-color {
    border-color: @brand-warning;
}
.border-success-color {
    border-color: @brand-success;
}
.border-info-color {
    border-color: @brand-info;
}
.border-query-color {
    border-color: @brand-query;
}
.border-color {
    border-color: @border-color;
}
.border-hover-color {
    border-color: @border-hover-color;
}
.border-focus-color {
    border-color: @border-focus-color;
}
.border-disabled-color {
    border-color: @border-disabled-color;
}
.border-danger-color {
    border-color: @border-danger-color;
}