
.border-primary-color {
  border-color: @brand-primary;
}
.border-primary-hover-color {
  border-color: @brand-primary-hover;
}
.border-primary-focus-color {
  border-color: @brand-primary-focus;
}
.border-primary-dark-4-color {
  border-color: @brand-primary-dark-4;
}
.border-primary-dark-5-color {
  border-color: @brand-primary-dark-5;
}
.border-primary-dark-5-color {
  border-color: @brand-primary-dark-5;
}
.border-primary-dark-6-color {
  border-color: @brand-primary-dark-6;
}
.border-primary-dark-7-color {
  border-color: @brand-primary-dark-7;
}
.border-primary-alpha-2-color {
  border-color: @brand-primary-alpha-2;
}
.border-primary-alpha-3-color {
  border-color: @brand-primary-alpha-3;
}
.border-primary-alpha-4-color {
  border-color: @brand-primary-alpha-4;
}
.border-primary-alpha-5-color {
  border-color: @brand-primary-alpha-5;
}
.border-primary-alpha-6-color {
  border-color: @brand-primary-alpha-6;
}
.border-primary-alpha-7-color {
  border-color: @brand-primary-alpha-7;
}
.border-primary-alpha-8-color {
  border-color: @brand-primary-alpha-8;
}
.border-primary-alpha-9-color {
  border-color: @brand-primary-alpha-9;
}
.border-normal-alpha-1-color {
  border-color: @normal-alpha-1;
}
.border-normal-alpha-2-color {
  border-color: @normal-alpha-2;
}
.border-normal-alpha-3-color {
  border-color: @normal-alpha-3;
}
.border-normal-alpha-4-color {
  border-color: @normal-alpha-4;
}
.border-normal-alpha-5-color {
  border-color: @normal-alpha-5;
}
.border-normal-alpha-6-color {
  border-color: @normal-alpha-6;
}
.border-normal-alpha-7-color {
  border-color: @normal-alpha-7;
}
.border-normal-alpha-8-color {
  border-color: @normal-alpha-8;
}
.border-normal-alpha-9-color {
  border-color: @normal-alpha-9;
}
.border-dark-alpha-1-color {
  border-color: @dark-alpha-1;
}
.border-dark-alpha-2-color {
  border-color: @dark-alpha-2;
}
.border-dark-alpha-3-color {
  border-color: @dark-alpha-3;
}
.border-dark-alpha-4-color {
  border-color: @dark-alpha-4;
}
.border-dark-alpha-5-color {
  border-color: @dark-alpha-5;
}
.border-dark-alpha-6-color {
  border-color: @dark-alpha-6;
}
.border-dark-alpha-7-color {
  border-color: @dark-alpha-7;
}
.border-dark-alpha-8-color {
  border-color: @dark-alpha-8;
}
.border-dark-alpha-9-color {
  border-color: @dark-alpha-9;
}
.border-white-alpha-1-color {
  border-color: @white-alpha-1;
}
.border-white-alpha-2-color {
  border-color: @white-alpha-2;
}
.border-white-alpha-3-color {
  border-color: @white-alpha-3;
}
.border-white-alpha-4-color {
  border-color: @white-alpha-4;
}
.border-white-alpha-5-color {
  border-color: @white-alpha-5;
}
.border-white-alpha-6-color {
  border-color: @white-alpha-6;
}
.border-white-alpha-7-color {
  border-color: @white-alpha-7;
}
.border-white-alpha-8-color {
  border-color: @white-alpha-8;
}
.border-white-alpha-9-color {
  border-color: @white-alpha-9;
}
.border-danger-color {
  border-color: @brand-danger;
}
.border-warning-color {
  border-color: @brand-warning;
}
.border-success-color {
  border-color: @brand-success;
}
.border-link-color {
  border-color: @brand-link;
}
.border-info-color {
  border-color: @brand-info;
}
.border-query-color {
  border-color: @brand-query;
}
.border-danger-color {
  border-color: @brand-danger;
}
.border-danger-alpha-2-color {
  border-color: @brand-danger-alpha-2;
}
.border-danger-alpha-7-color {
  border-color: @brand-danger-alpha-7;
}
.border-danger-alpha-8-color {
  border-color: @brand-danger-alpha-8;
}
.border-warning-color {
  border-color: @brand-warning;
}
.border-warning-alpha-2-color {
  border-color: @brand-warning-alpha-2;
}
.border-warning-alpha-7-color {
  border-color: @brand-warning-alpha-7;
}
.border-warning-alpha-8-color {
  border-color: @brand-warning-alpha-8;
}
.border-success-color {
  border-color: @brand-success;
}
.border-success-alpha-2-color {
  border-color: @brand-success-alpha-2;
}
.border-success-alpha-7-color {
  border-color: @brand-success-alpha-7;
}
.border-success-alpha-8-color {
  border-color: @brand-success-alpha-8;
}
.border-link-color {
  border-color: @brand-link;
}
.border-link-alpha-2-color {
  border-color: @brand-link-alpha-2;
}
.border-link-alpha-7-color {
  border-color: @brand-link-alpha-7;
}
.border-link-alpha-8-color {
  border-color: @brand-link-alpha-8;
}
.border-danger-hover-color {
  border-color: @brand-danger-hover;
}
.border-danger-focus-color {
  border-color: @brand-danger-focus;
}