/*
 * name  : BUTTON
 * author: vincent.bian
 * date  : 2016-01-22
*/
.kuma-button {
    
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    
    // type
    &-primary {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: @basic-100;
    }
    &-outline {
        background-color: @basic-100;
        border-color: @brand-primary;
        color: @brand-primary;
    }
    &-secondary {
        background-color: @basic-400;
        border-color: @basic-700;
        color: @gray;
    }
    &-disabled {
        background-color: @basic-600;
        border-color:@basic-700;
        color: @gray-lighter;
    }
    
    // size
    &-lg {
        height: 36px;
    }
    &-sm {
        height: 26px;
    }
}

.basic-200 {
    color: @basic-200;
}
.basic-300 {
    color: @basic-300;
}
.basic-400 {
    color: @basic-400;
}
.basic-500 {
    color: @basic-500;
}
.basic-600 {
    color: @basic-600;
}
.basic-700 {
    color: @basic-700;
}
.basic-800 {
    color: @basic-800;
}
.basic-900 {
    color: @basic-900;
}