/*
 * name  : BUTTON
 * author: vincent.bian
 * date  : 2016-01-22
*/

a.kuma-button {
    display: inline-block;
    text-decoration: none;
}

.kuma-button {
    padding: 0 15px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-size: 14px;
    line-height: 30px;
    box-sizing: border-box;
    transition: color @transition-duration @transition-ease, background-color @transition-duration @transition-ease, border-color @transition-duration @transition-ease;
    
    
    // type
    &-primary {
        background-color: @brand-primary;
        border-color: @brand-primary;
        color: @basic-100;
        
        &:visited {
            color: @basic-100;
        }
        
        &:hover {
            background-color: @brand-primary-light;
            border-color: @brand-primary-light;
            color: @basic-100;
        }
        &:active {
            background-color: @brand-primary-dark;
            border-color: @brand-primary-dark;
            color: @basic-100;
        }
    }
    &-outline {
        background-color: @basic-100;
        border-color: @brand-primary;
        color: @brand-primary;
        
        &:visited {
            color: @brand-primary;
        }
        
        &:hover {
            background-color: @brand-primary-lighter;
            border-color: @brand-primary-light;
            color: @brand-primary;
        }
        &:active {
            background-color: hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) - 76%), round(hsvvalue(@brand-primary) + 5%));
            border-color: @brand-primary-dark;
            color: @brand-primary;
        }
    }
    &-secondary {
        background-color: @basic-400;
        border-color: @basic-700;
        color: @gray;
        
        &:visited {
            color: @gray;
        }
        
        &:hover {
            border-color: hsv(round(hsvhue(@basic-400)), round(hsvsaturation(@basic-400)), round(hsvvalue(@basic-400) - 6%));
            background-color: hsv(round(hsvhue(@basic-400)), round(hsvsaturation(@basic-400)), round(hsvvalue(@basic-400) + 4%));
            color: @gray;
        }
        &:active {
            border-color: hsv(round(hsvhue(@basic-400)), round(hsvsaturation(@basic-400)), round(hsvvalue(@basic-400) - 6%));
            background-color: hsv(round(hsvhue(@basic-400)), round(hsvsaturation(@basic-400)), round(hsvvalue(@basic-400) - 2%));
            color: @gray;

        }
    }
    &-disabled {
        background-color: @basic-600;
        border-color:@basic-700;
        color: @gray-lighter;
        
        cursor: not-allowed;
        
        &:visited {
        	background-color: @basic-600;
        	border-color:@basic-700;
            color: @gray-lighter;
        }
        
        &:hover, &:active {
        	background-color: @basic-600;
        	border-color:@basic-700;
            color: @gray-lighter;
        }
    }
    
    // size
    &-lg {
        padding: 0 20px;
        height: 36px;
        line-height: 34px;
    }
    &-sm {
        padding: 0 12px;
        height: 26px;
        line-height: 24px;
        font-size: 12px;
    }
    
    &-group {
        display: inline-block;
        .kuma-button {
            float: left;
            & + .kuma-button {
                margin-left: -1px;
            }
            &:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
