.kuma-form-item {
    margin-bottom: 20px;
    .kuma-label {
        float: left;
    }
    .controls {
        margin-left: 110px;
        .kuma-form-text {
            display: inline-block;
            margin-top: 5px;
            .kuma-checkbox + s {
                vertical-align: sub;
            }
        }
    }
}