.kuma-label {
    float: none;
    width: 100px;
    margin-left: 0px;
    padding-top: 5px;
    padding-right:0px;
    text-align: right;
    color: @text-primary-color;
    display: table-cell;
    vertical-align: baseline;
    vertical-align: -webkit-baseline-middle;
    .required {
        color: red;
        font-family: Simsun;
    }
    .label-content {
        line-height: 14px;
    }
}