a {
    color: @link-color;
    &:visited {
        color: @link-visited-color;
    }
    &:hover {
        color: @link-hover-color;
    }
    &:active {
        color: @link-active-color;
    }
    &:disabled {
        color: @link-disabled-color;
    }

    &.weak-link {
        color: @text-primary-color;
        text-decoration: underline;
    }
    &.weaker-link {
        color: @text-primary-color;
    }
}