.svg-primary-fill {
	fill: @brand-primary;
}
.svg-secondary-fill {
	fill: @brand-secondary;
}
.svg-primary-dark-fill {
	fill: @brand-primary-dark;
}
.svg-primary-light-fill {
	fill: @brand-primary-light;
}
.svg-primary-lighter-fill {
	fill: @brand-primary-lighter;
}
.svg-white-fill {
	fill: @basic-100;
}
.svg-gray-fill {
	fill: @gray;
}
.svg-gray-lighter-fill {
	fill: @gray-lighter;
}
.svg-danger-fill {
	fill: @brand-danger;
}
.svg-warning-fill {
	fill: @brand-warning;
}
.svg-success-fill {
	fill: @brand-success;
}
.svg-info-fill {
	fill: @brand-info;
}
.svg-query-fill {
	fill: @brand-query;
}
