.text-primary-color {
    color: @text-primary-color;
}
.text-secondary-color {
    color: @text-secondary-color;
}
.text-thirdary-color {
    color: @text-thirdary-color;
}
.text-disabled-color {
    color: @text-disabled-color;
}
.text-helper-color {
    color: @text-helper-color;
}
.text-danger-color {
    color: @text-danger-color;
}
.text-ali-color {
    color: @text-ali-color;
}
.text-warning-color {
    color: @brand-warning;
}
.text-success-color {
    color: @brand-success;
}
.text-info-color {
    color: @brand-info;
}
.text-query-color {
    color: @brand-query;
}