// ======= 过时的配置，为了向前兼容 =====

@brand-secondary:       #2c2f33; // B2_3
// 补色
@brand-complement:      #00b3e8; // B3_1
// 复合 
@brand-comosite:        #00c587; // B3_2
// 浓度
@brand-deep:            #73461d; // B3_3

// 功能色

@brand-info:            #45a8e6; // F4_1
@brand-query:           #24bee8; // F5_1

@brand-danger-light:    hsv(hsvhue(@brand-danger), 5%, 100%);
@brand-warning-light:   hsv(hsvhue(@brand-warning), 5%, 100%); // F2_2
@brand-success-light:   hsv(hsvhue(@brand-success), 5%, 100%); // F3_2
@brand-info-light:      hsv(hsvhue(@brand-info), 5%, 100%); // F4_2
@brand-query-light:     hsv(hsvhue(@brand-query), 5%, 100%);  // F5_2 

// B2_1 (S+4 B-1)
@brand-primary-dark: hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) + 4%), round(hsvvalue(@brand-primary) - 1%)); 
// B2_1 (S-6 B+3)
@brand-primary-light:  hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) - 6%), round(hsvvalue(@brand-primary) + 3%)); 
// B2_1 (S-80 B+5)
@brand-primary-lighter:  hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) - 80%), round(hsvvalue(@brand-primary) + 5%)); 

// 中立色
@basic-100:               #fff; // N1_1
@basic-200:               darken(@basic-100, 2%); // N1_2
@basic-300:               darken(@basic-100, 3%); // N1_3
@basic-400:               darken(@basic-100, 4%); // N1_4
@basic-500:               darken(@basic-100, 7%); // N1_5
@basic-600:               darken(@basic-100, 9%); // N1_6
@basic-700:               darken(@basic-100, 14%); // N1_7

// ======= 过时的配置，为了向前兼容 =====

.function {
  .getr(@RGB_background, @RGBA_color) {
    return: (1 - alpha(@RGBA_color)) * red(@RGB_background) + alpha(@RGBA_color) * red(@RGBA_color);
  }
  .getg(@RGB_background, @RGBA_color) {
    return: (1 - alpha(@RGBA_color)) * green(@RGB_background) + alpha(@RGBA_color) * green(@RGBA_color);
  }
  .getb(@RGB_background, @RGBA_color) {
    return: (1 - alpha(@RGBA_color)) * blue(@RGB_background) + alpha(@RGBA_color) * blue(@RGBA_color);
  }
  .rgba2rgb(@RGB_background, @RGBA_color) {
    return: rgb(getr(@RGB_background, @RGBA_color), getg(@RGB_background, @RGBA_color), getb(@RGB_background, @RGBA_color));
  }
}

// 品牌色
// B1
@brand-primary:         #498EE6; 
// B2 (10% white)
@brand-primary-hover: rgba2rgb(@brand-primary, rgba(255, 255, 255, 0.10));
@brand-primary-dark-2: @brand-primary-hover;
// B3 (5% black)
@brand-primary-focus: rgba2rgb(@brand-primary, rgba(0, 0, 0, 0.05));
@brand-primary-dark-3: @brand-primary-focus;
// B4 (10% black)
@brand-primary-dark-new: rgba2rgb(@brand-primary, rgba(0, 0, 0, 0.10));
@brand-primary-dark-4: @brand-primary-dark-new;
// B5 (20% black)
@brand-primary-dark-5: rgba2rgb(@brand-primary, rgba(0, 0, 0, 0.20));
// B6 (40% black)
@brand-primary-dark-6: rgba2rgb(@brand-primary, rgba(0, 0, 0, 0.40));
// B7 (55% black)
@brand-primary-dark-7: rgba2rgb(@brand-primary, rgba(0, 0, 0, 0.55));
// B1-2 (A80)
@brand-primary-alpha-2: fadeout(@brand-primary, 20%);
// B1-3 (A60)
@brand-primary-alpha-3: fadeout(@brand-primary, 40%);
// B1-4 (A40)
@brand-primary-alpha-4: fadeout(@brand-primary, 60%);
// B1-5 (A30)
@brand-primary-alpha-5: fadeout(@brand-primary, 70%);
// B1-6 (A20)
@brand-primary-alpha-6: fadeout(@brand-primary, 80%);
// B1-7 (A10)
@brand-primary-alpha-7: fadeout(@brand-primary, 90%);
// B1-8 (A6)
@brand-primary-alpha-8: fadeout(@brand-primary, 94%);
// B1-9 (A4)
@brand-primary-alpha-9: fadeout(@brand-primary, 96%); 

// 主灰
@gray-dark:              #333; // N2_4
@gray:                   #666; // N2_3
@gray-light:             #999; // N2_2
@gray-lighter:           #ccc; // N2_1

@normal-alpha-1:            rgba(31, 56, 88, 1); // N-1 A100
@normal-alpha-2:            rgba(31, 56, 88, 0.8); // N-2 A80 
@normal-alpha-3:            rgba(31, 56, 88, 0.6); // N-3 A60 
@normal-alpha-4:            rgba(31, 56, 88, 0.4); // N-4 A40 
@normal-alpha-5:            rgba(31, 56, 88, 0.3); // N-5 A30 
@normal-alpha-6:            rgba(31, 56, 88, 0.2); // N-6 A20 
@normal-alpha-7:            rgba(31, 56, 88, 0.1); // N-7 A10 
@normal-alpha-8:            rgba(31, 56, 88, 0.06); // N-8 A6 
@normal-alpha-9:            rgba(31, 56, 88, 0.04); // N-9 A4 

@normal-1:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-1);
@normal-2:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-2);
@normal-3:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-3);
@normal-4:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-4);
@normal-5:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-5);
@normal-6:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-6);
@normal-7:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-7);
@normal-8:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-8);
@normal-9:         rgba2rgb(rgb(255, 255, 255), @normal-alpha-9);

@dark-alpha-1:              rgba(0, 0, 0, 1); // D-1 A100
@dark-alpha-2:              rgba(0, 0, 0, 0.8); // D-2 A80
@dark-alpha-3:              rgba(0, 0, 0, 0.6); // D-3 A60
@dark-alpha-4:              rgba(0, 0, 0, 0.4); // D-4 A40
@dark-alpha-5:              rgba(0, 0, 0, 0.3);  // D-5 A30     
@dark-alpha-6:              rgba(0, 0, 0, 0.2);  // D-6 A20     
@dark-alpha-7:              rgba(0, 0, 0, 0.1);  // D-7 A10  
@dark-alpha-8:              rgba(0, 0, 0, 0.06);  // D-8 A6    
@dark-alpha-9:              rgba(0, 0, 0, 0.04);  // D-9 A4  

@white-alpha-1:             rgb(255, 255, 255); // W-1
@white-alpha-2:             rgba(255, 255, 255, 0.8); // W-2 A80
@white-alpha-3:             rgba(255, 255, 255, 0.6); // W-3 A60
@white-alpha-4:             rgba(255, 255, 255, 0.4); // W-4 A40
@white-alpha-5:             rgba(255, 255, 255, 0.3); // W-5 A30 
@white-alpha-6:             rgba(255, 255, 255, 0.2); // W-6 A20 
@white-alpha-7:             rgba(255, 255, 255, 0.1); // W-7 A10 
@white-alpha-8:             rgba(255, 255, 255, 0.06); // W-8 A6 
@white-alpha-9:             rgba(255, 255, 255, 0.04); // W-8 A6 

// F1-1
@brand-danger:          #F04631; 
// F1-2 (10% white)
@brand-danger-hover:    rgba2rgb(@brand-danger, rgba(255, 255, 255, 0.10));
// F1-3 (5% black)
@brand-danger-focus:    rgba2rgb(@brand-danger, rgba(0, 0, 0, 0.05));
// F2-1
@brand-warning:         #FABD0E; 
// F3-1
@brand-success:         #66bc5c; 
// F4-1
@brand-link:            #3C99D8;
// F4-2
@brand-link-hover:      #2E76A6;

// F1-1-2 A10
@brand-danger-alpha-2:  fadeout(@brand-danger, 20%);
// F1-1-7 A10
@brand-danger-alpha-7:  fadeout(@brand-danger, 90%);
// F1-1-8 A6 
@brand-danger-alpha-8:  fadeout(@brand-danger, 94%);  
// F2-1-2 A80
@brand-warning-alpha-2: fadeout(@brand-warning, 20%);
// F2-1-7 A10
@brand-warning-alpha-7: fadeout(@brand-warning, 90%);
// F2-1-8 A6 
@brand-warning-alpha-8:  fadeout(@brand-warning, 94%);  
// F3-1-2 A80
@brand-success-alpha-2: fadeout(@brand-success, 20%);
// F3-1-7 A10
@brand-success-alpha-7: fadeout(@brand-success, 90%);
// F3-1-8 A6 
@brand-success-alpha-8:  fadeout(@brand-success, 94%); 
// F4-1-2 A10
@brand-link-alpha-2:  fadeout(@brand-link, 20%);
// F4-1-7 A10
@brand-link-alpha-7:    fadeout(@brand-link, 90%);
// F4-1-8 A6 
@brand-link-alpha-8:  fadeout(@brand-link, 94%); 

// 链接色
@link-color:            @brand-link; // F4-1 
@link-hover-color:      @brand-link-hover; // F4-2
@link-active-color:     @brand-link-hover; // F4-2
@link-visited-color:    @brand-link; // F4-1
@link-disabled-color:   @normal-alpha-5; // N-5

// 边框色
// @border-color:          @normal-alpha-5; // N-5
@border-color:          @normal-5;
// @border-hover-color:    @normal-alpha-4; // N-4
@border-hover-color:    @normal-4;
// @border-focus-color:    @normal-alpha-3; // N-3
@border-focus-color:    @normal-3;
// @border-disabled-color: @normal-alpha-6; // N-6
@border-disabled-color: @normal-6;
@border-danger-color:   @brand-danger; // F1-1

// 分割线
@split-line-color:      @normal-alpha-7;


// 背景色
@bg-disabled-color:     @normal-alpha-9; // N1-6
@bg-hover-color:        @brand-primary-lighter;
@bg-selected-color:     @brand-primary; // B1-1
@bg-danger-color:       @brand-danger-alpha-8; // F1-2

// 文本色
@text-primary-color:  @dark-alpha-3; 
@text-secondary-color: @normal-alpha-3; 
@text-thirdary-color: @dark-alpha-4; 
@text-disabled-color: @normal-alpha-5; 
@text-helper-color:   @dark-alpha-4;
@text-danger-color:   @brand-danger; 
@text-ali-color:      #ec6c00;


 