// 品牌色
@brand-primary:         #2599f2; // hsl(28, 100%, 50%) B2_1
@brand-secondary:       #2c2f33; // B2_3
// 补色
@brand-complement:      #00b3e8; // B3_1
// 复合 
@brand-comosite:        #00c587; // B3_2
// 浓度
@brand-deep:            #73461d; // B3_3

// 品牌色变化
// B2_1 (S+4 B-1)
@brand-primary-dark: hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) + 4%), round(hsvvalue(@brand-primary) - 1%)); 
// B2_1 (S-6 B+3)
@brand-primary-light:  hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) - 6%), round(hsvvalue(@brand-primary) + 3%)); 
// B2_1 (S-80 B+5)
@brand-primary-lighter:  hsv(round(hsvhue(@brand-primary)), round(hsvsaturation(@brand-primary) - 80%), round(hsvvalue(@brand-primary) + 5%)); 
 

// 功能色
@brand-danger:          #F04631; // F1_1
@brand-warning:         #f5a12a; // F2_1
@brand-success:         #66bd5c; // F3_1
@brand-info:            #45a8e6; // F4_1
@brand-query:           #24bee8; // F5_1

// 功能色浅版 在保持色相的情况下，饱和度调至 5%，色调调至 100%
@brand-danger-light:    hsv(hsvhue(@brand-danger), 5%, 100%);  // F1_2
@brand-warning-light:   hsv(hsvhue(@brand-warning), 5%, 100%); // F2_2
@brand-success-light:   hsv(hsvhue(@brand-success), 5%, 100%); // F3_2
@brand-info-light:      hsv(hsvhue(@brand-info), 5%, 100%); // F4_2
@brand-query-light:     hsv(hsvhue(@brand-query), 5%, 100%);  // F5_2 

// 主灰
@gray-dark:              #333; // N2_4
@gray:                   #666; // N2_3
@gray-light:             #999; // N2_2
@gray-lighter:           #ccc; // N2_1

// 中立色
@basic-100:               #fff; // N1_1
@basic-200:               darken(@basic-100, 2%); // N1_2
@basic-300:               darken(@basic-100, 3%); // N1_3
@basic-400:               darken(@basic-100, 4%); // N1_4
@basic-500:               darken(@basic-100, 7%); // N1_5
@basic-600:               darken(@basic-100, 9%); // N1_6
@basic-700:               darken(@basic-100, 14%); // N1_7

// 链接色
@link-color:            #3B8FD9; // L1_1 
@link-hover-color:      #1A78B8; // L1_2
@link-active-color:     #1A78B8; // L1_2
@link-visited-color:    #3B8FD9; // L1_2
@link-disabled-color:   @gray-lighter; // N2_1

// 边框色
@border-color:          @basic-700; // N1_7
@border-hover-color:    @gray-lighter; // N2_1
@border-focus-color:    @gray-lighter; // N2_1
@border-disabled-color: @basic-700; // N1_7
@border-danger-color:   @brand-danger; // F1_1

// 背景色
@bg-disabled-color:     @basic-600; // N1_6
@bg-hover-color:        @brand-primary-lighter; // F1_2
@bg-selected-color:     @brand-primary; // B1/2_1
@bg-danger-color:       @brand-danger-light; // F1_2

// 文本色
@text-primary-color:  @gray-dark; // N2_4
@text-secondary-color: @gray; // N2_3
@text-thirdary-color: @gray-light; // N2_2
@text-disabled-color: @gray-lighter; // N2_1
@text-helper-color:   @gray-lighter; // N2_1 placeholder
@text-danger-color:   @brand-danger; // F1_1
@text-ali-color:      #ec6c00;


 