@import '../theme/yida.less';
@import '../core.less';
@import '../core/logo.less';

@svg-path: '../core/svg/blue';

body {
  box-sizing: border-box;
  padding: 24px;
  & * {
    box-sizing: border-box;
  }
}


h2 {
  margin: 10px 0;
}
.grid-item {
  height: 400px;
  background: #FFF9F5;
}

.grid-item-1 {
  height: 50px;
  background: #F3F3F3;
  line-height: 50px;
  text-align: center;
  margin: 5px 0;
}

.back_color_box {
  background: @brand-primary;
  padding: 10px;
  display: inline-block;
}
.ghost_button_box {
  background: @brand-primary-alpha-6;
}

.color_box {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
}

.color {
  width: 150px;
  height: 30px;
  // display: inline-block;
  // margin: 0 20px 0 0;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  margin-bottom: 4px;
  &.B_1 {
    background: @brand-primary;
  }
  &.B_2 {
    background: @brand-primary-hover;
  }
  &.B_3 {
    background: @brand-primary-focus;
  }
  &.B_4 {
    background: @brand-primary-dark-new;
  }
  &.B_5 {
    background: @brand-primary-dark-5;
  }
  &.B_6 {
    background: @brand-primary-dark-6;
  }
  &.B_7 {
    background: @brand-primary-dark-7;
  }
  &.B1_2 {
    background: @brand-primary-alpha-2;
  }
  &.B1_3 {
    background: @brand-primary-alpha-3;
  }
  &.B1_4 {
    background: @brand-primary-alpha-4;
  }
  &.B1_5 {
    background: @brand-primary-alpha-5;
  }
  &.B1_6 {
    background: @brand-primary-alpha-6;
  }
  &.B1_7 {
    background: @brand-primary-alpha-7;
  }
  &.B1_8 {
    background: @brand-primary-alpha-8;
  }
  &.B1_9 {
    background: @brand-primary-alpha-9;
  }
  &.B1_1_D {
    background: @brand-primary-dark;
  }
  &.N_1 {
    background: @normal-alpha-1;
  }
  &.N_2 {
    background: @normal-alpha-2;
  }
  &.N_3 {
    background: @normal-alpha-3;
  }
  &.N_4 {
    background: @normal-alpha-4;
  }
  &.N_5 {
    background: @normal-alpha-5;
  }
  &.N_6 {
    background: @normal-alpha-6;
  }
  &.N_7 {
    background: @normal-alpha-7;
  }
  &.N_8 {
    background: @normal-alpha-8;
  }
  &.N_9 {
    background: @normal-alpha-9;
  }
  &.NA_1 {
    background: @normal-1;
  }
  &.NA_2 {
    background: @normal-2;
  }
  &.NA_3 {
    background: @normal-3;
  }
  &.NA_4 {
    background: @normal-4;
  }
  &.NA_5 {
    background: @normal-5;
  }
  &.NA_6 {
    background: @normal-6;
  }
  &.NA_7 {
    background: @normal-7;
  }
  &.NA_8 {
    background: @normal-8;
  }
  &.NA_9 {
    background: @normal-9;
  }
  &.DA_1 {
    background: @dark-alpha-1;
    color: white;
  }
  &.DA_2 {
    background: @dark-alpha-2;
    color: white;
  }
  &.DA_3 {
    background: @dark-alpha-3;
    color: white;
  }
  &.DA_4 {
    background: @dark-alpha-4;
    color: white;
  }
  &.DA_5 {
    background: @dark-alpha-5;
    color: white;
  }
  &.DA_6 {
    background: @dark-alpha-6;
    color: white;
  }
  &.DA_7 {
    background: @dark-alpha-7;
    color: white;
  }
  &.DA_8 {
    background: @dark-alpha-8;
    color: white;
  }
  &.DA_9 {
    background: @dark-alpha-9;
    color: white;
  }
  &.D_1 {
    background: @dark-1;
    color: white;
  }
  &.D_2 {
    background: @dark-2;
    color: white;
  }
  &.D_3 {
    background: @dark-3;
    color: white;
  }
  &.D_4 {
    background: @dark-4;
    color: white;
  }
  &.D_5 {
    background: @dark-5;
    color: white;
  }
  &.D_6 {
    background: @dark-6;
    color: white;
  }
  &.D_7 {
    background: @dark-7;
    color: white;
  }
  &.D_8 {
    background: @dark-8;
    color: white;
  }
  &.D_9 {
    background: @dark-9;
    color: white;
  }
  &.W_1 {
    background: @white-alpha-1;
  }
  &.W_2 {
    background: @white-alpha-2;
  }
  &.W_3 {
    background: @white-alpha-3;
  }
  &.W_4 {
    background: @white-alpha-4;
  }
  &.W_5 {
    background: @white-alpha-5;
  }
  &.W_6 {
    background: @white-alpha-6;
  }
  &.W_7 {
    background: @white-alpha-7;
  }
  &.W_8 {
    background: @white-alpha-8;
  }
  &.W_9 {
    background: @white-alpha-9;
  }
  &.F1_1 {
    background: @brand-danger;
  }
  &.F1_2 {
    background: @brand-danger-hover;
  }
  &.F1_3 {
    background: @brand-danger-focus;
  }
  &.F1_1_7 {
    background: @brand-danger-alpha-7;
  }
  &.F1_1_8 {
    background: @brand-danger-alpha-8;
  }
  &.F2_1 {
    background: @brand-warning;
  }
  &.F2_1_2 {
    background: @brand-warning-alpha-2;
  }
  &.F2_1_7 {
    background: @brand-warning-alpha-7;
  }
  &.F3_1 {
    background: @brand-success;
  }
  &.F3_1_2 {
    background: @brand-success-alpha-2;
  }
  &.F3_1_7 {
    background: @brand-success-alpha-7;
  }
  &.F4_1 {
    background: @brand-link;
  }
  &.F4_2 {
    background: @brand-link-hover;
  }
  &.F4_1_7 {
    background: @brand-link-alpha-7;
  }
}

.shadow {
  &.S-1 {
    box-shadow: @box-shadow-1;
  }
  &.S-2 {
    box-shadow: @box-shadow-2;
  }
  &.S-3 {
    box-shadow: @box-shadow-3;
  }
}

.link-demo {
  font-size: 20px;
}

.basic-100 {
    width: 200px;
    height: 20px;
    background-color: @basic-100;
}
.basic-200 {
    width: 200px;
    height: 20px;
    background-color: @basic-200;
}
.basic-300 {
    width: 200px;
    height: 20px;
    background-color: @basic-300;
}
.basic-400 {
    width: 200px;
    height: 20px;
    background-color: @basic-400;
}
.basic-500 {
    width: 200px;
    height: 20px;
    background-color: @basic-500;
}
.basic-600 {
    width: 200px;
    height: 20px;
    background-color: @basic-600;
}
.basic-700 {
    width: 200px;
    height: 20px;
    background-color: @basic-700;
}

.transition-demo {
  color: @brand-primary;
  line-height: 30px;
  display: inline-block;
  padding: 0 20px;
  border: 1px solid @brand-primary;
  &:hover {
    color: white;
    background: @brand-primary;
  }
}

.demo-theme {
  width: 180px;
  height: 64px;
  display: inline-block;
  background-size: 100% 100%;
  &.white-theme {
    background-color: @brand-primary;
  }
}

