// background
@btn-primary-color: @brand-primary;
@btn-secondary-color: @gray-light;
@btn-disabled-color: @form-element-border;
@btn-primary-hover: spin(@brand-primary, -4);
@btn-secondary-hover: @brand-primary;
@btn-disabled-hover: @form-element-border;

// border
@btn-primary-border-color: spin(@brand-primary, -4);
@btn-secondary-border-color: @form-element-border;
@btn-disabled-border-color: @black-lighter;
@btn-primary-border-hover: spin(@brand-primary, -12);
@btn-secondary-border-hover: spin(@brand-primary, -4);
@btn-disabled-border-hover: @black-lighter;

// text
@btn-primary-text-color: @white;
@btn-secondary-text-color: @black;
@btn-disabled-text-color: @black-light;
@btn-primary-text-hover: @white;
@btn-secondary-text-hover: @white;
@btn-disabled-text-hover: @black-light;

//---===== Segment buttons
@btn-segment-bg: 				 @white;
@btn-segment-border: 			 @form-element-border;
@btn-segment-hover-color: 		 @white;
@btn-segment-hover-bg: 			 @brand-primary;
@btn-segment-hover-border: 		 @brand-primary;

//=====**** Switch buttons
@btn-switch-color: @white;
@btn-switch-border: @brand-primary;

@btn-switch-open-bg: @white;
@btn-switch-open-border: @form-element-border;
@btn-switch-open-text-color: @black-light;
@btn-switch-open-circle-bg: @form-element-border;

@btn-switch-close-bg: @brand-primary;
@btn-switch-close-text-color: @white;
@btn-switch-close-circle-bg: @white;
