// grayscale colors
@gray-dark                 : #ccc;
@gray                      : #e5e5e5;
@gray-light                : #f2f2f2;
@gray-lighter              : #fbfbfb;

// black colors
@black-dark: #333;
@black: #666;
@black-light: #999;
@black-lighter: #b6b6b6;

// 彩色系
@white: #fff;
@orange-dark:  hsl(24, 100%, 50%); // #f60
@orange: hsl(32, 100%, 50%); // #f80
@orange-light: hsl(36, 100%, 50%); // #f90
@blue-dark:    #288df0;
