//checkbox and radio width height
@checkbox-wh: 14px;
@radio-wh: 14px;

//filter element line height
@filter-condition-lh: 28px;

//filter element padding
@filter-removeable-close-color: #a6a6a6;
@filter-pickable-tag-border: #d6d6d6;

//** `<input>` background color
@input-bg:                       @white;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-light;

//** Text color for `<input>`s
@input-color:                    @black;
//** `<input>` border color
@input-border:                   @form-element-border;
@input-radius: 					0;

//** Border color for inputs on focus
@input-border-focus:             @blue-dark;

//** Placeholder text color
@input-color-placeholder:        @gray-dark;

//** Default label text color
@label-color: 					 @black;
@label-padding-right: 			20px;

//** input explain tip
@input-color-explain: #b2b2b2;
