//== Panels/Cards
//
//## nw cards
@card-body-bg:      @white;
@card-border-color: @border-base;

@card-title-bg:     @gray-lighter;
@card-title-color:  @black-dark;
@card-title-border-color: @border-base;

@card-extra-button-border-color: @gray;
@card-extra-button-hover-color: @orange-light;
@card-extra-button-hover-border-color: @orange-light;
@card-extra-button-disable-color: @gray-dark;
@card-extra-button-disable-border-color: @gray;
