@tab-height: 29px;
@tab-padding: 10px;
@tab-item-height: 29px;
@tab-item-fix-height: 27px;
@tab-font-size: 14px;

@tab-margin-lg: 0;
@tab-height-lg: 44px;
@tab-padding-lg: 20px;
@tab-item-height-lg: 44px;
@tab-item-fix-height-lg: 42px;
@tab-font-size-lg: 16px;
@tab-font-weight-active: 400;

@tab-font-size-sm: 12px;
@tab-border-color: #e8e8e8;

@tab-color: #666;
@tab-hover-color: @brand-primary;
@tab-active-bg-color: @white;
@tab-bg-color: #fafafa;

@tab-disabled-color: #aaa;
@tab-lg-underline-bottom-border-width: 2px;

@tab-padding-underline-lg: @tab-padding-lg;
@tab-padding-line-lg: @tab-padding-lg;
@tab-padding-topline-lg: @tab-padding-lg;
@tab-padding-brick-lg: @tab-padding-lg;

@tab-margin-underline-lg: @tab-margin-lg;
@tab-margin-line-lg: @tab-margin-lg;
@tab-margin-topline-lg: @tab-margin-lg;
@tab-margin-brick-lg: @tab-margin-lg;
