//Tip variables

//noraml color
@tip-color: @black;

//message tip
@tip-msg-icon-color: 		@brand-info;
@tip-msg-box-border: 		lighten(@brand-info, 20%);
@tip-msg-box-bg: 			lighten(@brand-info, 30%);
@tip-msg-arrow-bg: 			lighten(@brand-info, 30%);
@tip-msg-arrow-border:      lighten(@brand-info, 20%);

//success tip
@tip-success-icon-color: 	@brand-success;
@tip-success-box-border: 	lighten(@brand-success, 20%);
@tip-success-box-bg: 		lighten(@brand-success, 30%);
@tip-success-arrow-bg: 		lighten(@brand-success, 30%);
@tip-success-arrow-border:  lighten(@brand-success, 20%);

//error tip
@tip-error-icon-color: 		@brand-danger;
@tip-error-box-border: 		lighten(@brand-danger, 20%);
@tip-error-box-bg: 			lighten(@brand-danger, 30%);
@tip-error-arrow-bg: 		lighten(@brand-danger, 30%);
@tip-error-arrow-border:    lighten(@brand-danger, 20%);

//warning tip
@tip-warning-icon-color: 	@brand-warning;
@tip-warning-box-border: 	#e6e098;
@tip-warning-box-bg: 		#fefea4;
@tip-warning-arrow-bg: 		#fefea4;
@tip-warning-arrow-border:  #e6e098;

//question tip
@tip-question-icon-color: 	@brand-warning;
@tip-question-box-border: 	lighten(@brand-warning, 20%);
@tip-question-box-bg: 		lighten(@brand-warning, 30%);
@tip-question-arrow-bg: 	lighten(@brand-warning, 30%);
@tip-question-arrow-border: lighten(@brand-warning, 20%);

//stop tip
@tip-stop-icon-color: 		@brand-danger;
@tip-stop-box-border: 		lighten(@brand-danger, 20%);
@tip-stop-box-bg: 			lighten(@brand-danger, 30%);
@tip-stop-arrow-bg: 		lighten(@brand-danger, 30%);
@tip-stop-arrow-border:     lighten(@brand-danger, 20%);

//wait tip
@tip-wait-icon-color: 		@brand-info;
@tip-wait-box-border: 		lighten(@brand-info, 20%);
@tip-wait-box-bg: 			lighten(@brand-info, 30%);
@tip-wait-arrow-bg: 		lighten(@brand-info, 30%);
@tip-wait-arrow-border:     lighten(@brand-info, 20%);

//tip close button color
@tip-close-color: 			#60a2c5;
