@transfer-item-color: #999;
@transfer-item-hover-bg: #f7f7f7;
@transfer-item-selected-color: @white;
@transfer-item-selected-bg: @orange-light;
@transfer-button-border: #d3d3d3;
@transfer-button-bg: @white;
@transfer-button-enable-bg: @orange-light;
@transfer-button-enable-border: @orange;
@transfer-button-arrow: #999;
