@font-family-base          : tahoma, arial, 'Hiragino Sans GB', ~'\5b8b\4f53';
@font-size-base            : 14px;
@font-size-large		   : 16px;
@font-size-small		   : 12px;
@line-height-base          : 1.428571429;
@line-height-computed	   : floor((@font-size-base * @line-height-base));

@link-decoration		   : none;
@link-hover-decoration	   : underline;

@cursor-disabled: not-allowed;
