//
// Variables
// --------------------------------------------------
@import "colors.less";

// brand colors
@brand-primary             : @orange-light;
@brand-success             : hsl(97, 80%, 65%);
@brand-info                : hsl(199, 80%, 65%);
@brand-warning             : hsl(25, 100%, 65%);
@brand-danger              : hsl(7, 80%, 65%);
@brand-secondary           : @orange-light;

@body-bg                   : @white;
@border-base               : #e8e8e8;
@text-color                : @black-dark;
@link-color                : @blue-dark;
@link-hover-color          : @orange-dark;
// 表单元素通用border色
@form-element-border       : @gray-dark;
// checkbox主题文件夹名称
@checkbox-theme            : orange;
@svg-path                  : "./svg";

// arrow up & down for kuma iconfont
@arrow-down-content        : '\e614';
@arrow-up-content          : '\e613';
@arrow-font-family         : 'kuma';

@calendar-open-input-border: @brand-primary;

//Typography
@import "typography.less";

//== Buttons
@import "button";

//== Forms
@import "form";

//== tips
@import "tip";

//== Panels
@import "panel";

//== Calendar
@import "calendar";

//== Pagination
@import "pagination";

//== Tabs
@import "tabs";

//== Transfer
@import "transfer";

//== Steps
@import "steps";

//== Table
@import "table";

//== Crumb
@import "crumb";

//== Progress
@import "progress";

//== Select
@import "select";